<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="akuo.represent" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Represent!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".InputLocation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RepList" >
        </activity>
        <activity android:name=".RepDetail" >
        </activity>

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service
            android:name=".PhoneListenerService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR-5rmGq3NYs0QefWTYt35Fa3VYvLv65A" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8fc433d3feabe70774929c4a3727acd666fa63a4" />
    </application>

</manifest>
